{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('styles/logregStyle.css') }}">

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {% for error in form_errors(registrationForm) %}
        {{ error }}
    {% endfor %}

    {{ form_start(registrationForm) }}
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }} <br>
        {{ form_label(registrationForm.plainPassword.first) }}
        {{ form_widget(registrationForm.plainPassword.first) }} <br>
        {{ form_label(registrationForm.plainPassword.second) }}
        {{ form_widget(registrationForm.plainPassword.second) }}
        <p>Already have an account? </p>
            <a href="{{ path('app_login') }}">Click here to log in!</a>
    <br>
        <button type="submit" class="submitButton">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/rScript.js') }}"></script>
{% endblock %}