{% extends 'base.html.twig' %}

{% block title %} Asia's Art {% endblock %}

{% block content %}
    <div class="photos" id="photos">
        {% for photo in photos %}
            <div class="main-photo">
                <a href="{{ path('app_item_item', {id: photo.id}) }}">
                    <img src="{{ asset(photo.image) }}" alt="{{ photo.name }}">
                    <p> {{ photo.category.name }} <br>
                        {{ photo.name }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
