{% extends 'base.html.twig' %}

{% block title %} {{ category.name }} {% endblock %}

{% block content %}

    {% for i in 1..counter %}
        <div class="photos">
            {% for j in 1..3 %}
                <div class="main-photo">
{#                    {% set a = j+(3**i) %}#}
                    <a href="{{ path('app_item_item', {id: items[j].id}) }}">
                        <img src="{{ asset('img/goat.jpeg') }}">
                        <p>{{ items[j].name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cScript.js') }}"></script>
{% endblock %}
