{% extends 'base.html.twig' %}

{% block title %} {{ category.name }} {% endblock %}

{% block content %}

    {% for i in 0..counter-1 %}
        <div class="photos">
            {% for j in 0..2 %}
                {% set abc = j+(3**i)+i-1 %}
                {% if abc < length %}
                <div class="main-photo">
                    <a href="{{ path('app_item_item', {id: items[abc].id}) }}">
                        <img src="{{ asset('img/goat.jpeg') }}">
                        <p>{{ items[abc].name }}</p>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cScript.js') }}"></script>
{% endblock %}
