{% extends 'base.html.twig' %}

{% block title %} {{ category.name }} {% endblock %}

{% block content %}

    <div class="photos">
    {% for i in 0..pagination|length-1 %}
        <div class="main-photo">
            <a href="{{ path('app_item_item', {id: pagination[i].id}) }}">
                <img src="{{ asset(pagination[i].image) }}" alt="{{ pagination[i].name }}">
                <p>{{ pagination[i].name }}</p>
            </a>
        </div>
        {% if i % 3 == 2 %}
            </div>
            <div class="photos">
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
{% block pagination %}
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/cScript.js') }}"></script>
{% endblock %}
