{% extends 'base.html.twig' %}

{% block title %} {{ category }} {% endblock %}

{% block content %}
    <div class="photos">
        {% for i in 1..3 %}
        <div class="main-photo">
            <a href="{{ path('app_item_item', {id: 1}) }}">
                <img src="{{ asset('img/goat.jpeg') }}">
                <p>GOAT</p>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="photos">
        {% for i in 1..3 %}
            <div class="main-photo">
                <a href="{{ path('app_item_item', {id: 2}) }}">
                    <img src="{{ asset('img/goat.jpeg') }}">
                    <p>GOAT</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cScript.js') }}"></script>
{% endblock %}
