{% extends 'base.html.twig' %}


{% block content %}
    <link rel="stylesheet" href="{{ asset('styles/logregStyle.css') }}">
    {% if error %}
        <div class="error">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">
        <br>
        <p>You haven't an account yet?</p>
        <a href="{{ path("app_register") }}">Click to register!</a><br>
        <button class="submitButton" type="submit">Login</button>
    </form>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/rScript.js') }}"></script>
{% endblock %}