{% extends 'base.html.twig' %}

{% block title %} Reviews {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/reviewStyle.css') }}">
{% endblock %}

{% block content %}
    <h1>Reviews</h1>
    <div class="info">
        Have you bought any of Asia's paintings recently?
        <br>
        <a href = "mailto:robinpl1212@gmail.com?subject=Review&body=Don't forget about your nickname, rating and the honest opinion!">
            <b>Add your opinion about it!</b>
        </a>

    </div>
    <br>

    {% for review in reviews %}
    <div class="review">
        <h2>
        {% if review.username %}
            {{ review.username }}
        {% else %}
            {{ review.user.email }}
        {% endif %}
        </h2>
        <h3>bought <a href="{{ path('app_item_item', {id: review.item.id}) }}">{{ review.item.name|lower|capitalize }}</a></h3>
        <div class="rating">
            {% for i in 1..review.rating %}
            <span class="fa fa-star checked"></span>
            {% endfor %}
        </div>
        <p>
            {{ review.review }}
        </p>
    </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/rScript.js') }}"></script>
{% endblock %}
