<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.cdnfonts.com/css/goudy-stout" rel="stylesheet">
        <link href="https://www.dafontfree.net/embed/a3Jpc3Rlbi1pdGMtcmVndWxhciZkYXRhLzI1L2svMTMxNjMwL0lUQ0tSSVNULnR0Zg" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('styles/mediaStyle.css') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="banner">
            <div class="socials">
            <span class="social" id="facebook">
                <a href="https://www.facebook.com/asia.stasiak.6"><i class="fa-brands fa-facebook"></i></a>
            </span>
                <span class="social" id="instagram">
                <a href="https://www.instagram.com/asia_stasiak_/?igshid=YmMyMTA2M2Y%3D"><i class="fa-brands fa-instagram"></i></a>
            </span>
                <span class="social" id="youtube">
                <a href="#"> <i class="fa-brands fa-youtube"></i></a>
            </span>
                <span class="social" id="tiktok">
               <a href="https://www.tiktok.com/@asiasart6?_t=8bzYEgGUVoo&_r=1"> <i class="fa-brands fa-tiktok"></i> </a>
            </span>
            </div>
            <a href="{{ path('app_main_index') }}"><img src="{{ asset('img/me.jpg') }}" alt="Me">
                <h1>Asia's art</h1></a>
        </div>
        <div class="main">
            <div class="content" id="content">
                {% if app.user %}
                    <span>
                    <a href="{{ path('app_logout') }}">Logout</a>
                </span>
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
            {% include 'menu.html.twig' %}
        </div>
    </div>
    {% block pagination %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    </body>
</html>
