{% extends 'base.html.twig' %}

{% block title %} {{ item.name|lower|capitalize }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/paitingStyle.css') }}">
{% endblock %}

{% block content %}
    <div class="picture">
        <h2>{{ item.name }}</h2>
        <img src="{{ asset(item.image) }}" alt="{{ item.name }}">
    </div>
    <div class="desc">
        <h3>Price: {{ item.price|number_format(2, ',', '.') }} PLN</h3>
        {% if not item.reserved %}
        <a href="{{ path('app_item_reserve', {id: item.id}) }}">Click to reserve</a>
        {% elseif item.sold %}
            <p>Item has been sold!</p>
        {% else %}
            {% if app.user == item.customer %}
                Links:
                <p><a href="{{ item.vintedLink }}">Order via Vinted</a></p>
                <p><a href="{{ item.olxLink }}">Order via OLX</a></p>
                <p><a href="{{ item.allegroLink }}">Order via Allegro</a></p>
                {% else %}
                    <p> RESERVED</p>
                {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cScript.js') }}"></script>
{% endblock %}
