{% extends 'base.html.twig' %}

{% block title %} {{ item.name|lower|capitalize }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/paitingStyle.css') }}">
{% endblock %}

{% block content %}
    <div class="picture">
        <h2>{{ item.name }}</h2>
        <img src="{{ asset('img/goat.jpeg') }}">
    </div>
    <div class="desc">
        <h3>Price: {{ item.price }}</h3>
        <p><a href="{{ item.vintedLink }}">Order via Vinted</a></p>
        <p><a href="{{ item.olxLink }}">Order via OLX</a></p>
        <p><a href="{{ item.allegroLink }}">Order via Allegro</a></p>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cScript.js') }}"></script>
{% endblock %}
